name: Continuous integration

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Run tests
        run: yarn test --passWithNoTests

      - name: Build
        run: yarn run build

  validate-docker-build:
    name: Validate if docker image builds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build & tag docker image
        uses: AplinkosMinisterija/reusable-workflows/.github/actions/docker-build-tag-push@main
        with:
          environment: test
          push: false